<div class="user_info">
<h2><%= @user.username %></h2>
<% if @user == current_user %><%= link_to 'Edit My Profile', edit_user_registration_path %><% end %>
<div id="profile_photo"><p><%= image_tag(@user.profile_photo) width="200" height="300" alt="Profile Photo" %></p></div>
<p><%= @user.first_name %> <%= @user.last_name %></p>
</div>

<div class = "mygoals">
<h1>My Goals</h1><br>
<ul>
  <% @user_goals.each do |goal| %>
    <% if goal.secret %>
     <%= link_to goal.name, goal_path(goal) %> | Set on: <%= goal.created_at.strftime('%A, %b %d, %Y %l:%M %p')%> |
      <% if !goal.completed %>
        <div class="ongoing-line">Ongoing</div>
      <% else %>
        Completed
      <% end %><div class="private-line">Private</div></li>
    <% end %>
  <li><%= link_to goal.name, goal_path(goal) %> | Set on: <%= goal.created_at.strftime('%A, %b %d, %Y %l:%M %p')%> |
      <% if !goal.completed %>
        <div class="ongoing-line">Ongoing</div>
      <% else %>
        Completed
      <% end %></li>
  <% end %>
</ul>
</div>
