<h1>Toy</h1>
<div class ="nav">
<%= link_to "MyGoals", goals_path %>
<%= link_to "MyTasks", tasks_path %>
<%= link_to "New Goal", new_goal_path %>
<%= link_to "New Task", new_task_path %>
<%= link_to "About", about_path %>
</div>
