<h1>Goals</h1>
<p><%= link_to "Set Your Own Goal", new_goal_path, class: 'button radius' %></p>

<div class="goals_index"
<ul>
    <% @goals.each do |goal| %>
    <li><div id="user-thumb"><%= image_tag(goal.user.profile_photo.thumb) %></div><%= link_to goal.name, goal_path(goal) %> | Set on: <%= goal.created_at.strftime('%A, %b %d, %Y %l:%M %P')%> by <%= link_to goal.user.username, user_path(goal.user) %> |
        <% if !goal.completed %>
          <div class="ongoing-line">Ongoing</div>
        <% else %>
          Completed
        <% end %>
      <% end %></li>
  </ul>
</div>
