<h1>Submit a Goal</h1>

<div class="form">
<%= form_for @goal do |f| %>
<% if @goal.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being submitted:</h3>

    <ul>
    <% @goal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<p>
  <%= f.label :goal %>
  <%= f.text_field :goal %>
</p>

<p>
  <%= f.label :duration %>
  <%= f.text_field :duration %> minutes
</p>

<p>
  <%= f.label :completed, "Finished?" %>
  <%= f.radio_button :completed, true %><label for="completed_true">yes</label>
  <%= f.radio_button :completed, false %><label for="completed_false">not yet</label>
</p>

<p>
  <%= f.label :objective%><br>
  <%= f.text_area :objective %>
</p>

<p>
  <%= f.submit class: 'button radius' %>
</p>
<% end %>
</div>
