<h3>Goal</h3>
<div class="box1"
<span><h1><%= @goal.name %></h1>
  <% if @goal.secret %>
    <div class="private-flag">Private Goal</div>
  <% end %>
  <% if !@goal.completed %>
    <div class="ongoing-flag">Ongoing</div>
    <% else %>
    <div class="completed-flag">Completed</div>
  <% end %>
  <% if @user == current_user %>
  <%= link_to "Revise", edit_user_goal_path(@user, @goal) %> | <%= link_to 'Delete', @goal, method: :delete, data: { confirm: 'Are you sure you want to delete this goal?' } %><% end %><br><br>
</span>

<strong>Date Set: </strong><%= @goal.created_at.strftime('%A, %b %d, %Y %l:%M %P')%><br>
<strong>Duration: </strong><%= @goal.duration %> minutes <br>
  <% if @goal.objective %>
  <strong> Objective </strong><br>
      <%= @goal.objective %></li><% end %><br>
</ul>

<% if !@goal.tasks.empty? %>
  <h2>Steps towards this goal</h2><p><%= link_to "Take a Step", new_goal_task_path(@goal) %></p>
  <ul>
    <% @goal.tasks.each do |task| %>
      <li>
        <% if task.secret %>
         <div class="private-bullet">P</div><%= link_to task.focus, task_path(task) %> | <%= task.created_at.strftime('%A, %b %d, %Y %l:%M %P') %>
        <% else %>
          <%= link_to task.focus, task_path(task) %> |  <%= task.created_at.strftime('%A, %b %d, %Y %l:%M %P') %>
        <% end%>
      </li>
      <% end %>
  </ul>
<% else %>
  <p>Get started towards this goal by <%= link_to "adding a task", new_goal_task_path(@goal) %>. </p>
<% end %>
</div>

<div class="box2">
  <div id="profile_photo"><%= link_to image_tag(@goal.user.profile_photo), user_path(@goal.user)%></div>
    <%= link_to @goal.user.username, user_path(@goal.user) %>
</div>

<div class="allocation">
  <table><h3>study.drill.do assessment</h3>
    <tr>
      <th>Method</th>
      <th>Ideal Time</th>
      <th>My Time</th>
      <th>Recommendation</th>
    </tr>
    <tr>
      <td>Study</td>
      <td><%= @best_allocation[:study] %> minutes </td>
      <td><%= @my_allocation[:study] %> minutes </td>
      <td><%= @advice[0] %> </td>
    </tr>
    <tr>
      <td>Drill</td>
      <td><%= @best_allocation[:drill] %> minutes </td>
      <td><%= @my_allocation[:drill] %> minutes </td>
      <td><%= @advice[1] %></td>
    </tr>
    <tr>
      <td>Do</td>
      <td><%= @best_allocation[:do] %> minutes </td>
      <td><%= @my_allocation[:do] %> minutes </td>
      <td><%= @advice[2] %></td>
    </tr>
