<div class="box2">
<div id="user-thumb"><%= image_tag(@goal.user.profile_photo.thumb) %><%= link_to @goal.user.username, user_path(@goal.user) %></div>
<h1>Goal: <%= @goal.name %></h1>

  <div>
    <%= private(@goal) %>
    <%= completed_flag(@goal) %>
    <% if @goal.editable_by?(current_user) %>
    <%= link_to "Revise", edit_user_goal_path(@user, @goal) %> | <%= link_to 'Delete', @goal, method: :delete, data: { confirm: 'Are you sure you want to delete this goal?' } %><% end %><br><br>
  </div>
  <strong>Date Set: </strong><%= format_datetime(@goal.created_at)%><br>
  <strong>Duration: </strong><%= format_duration(@goal.duration)%><br>
  <% if @goal.objective %>
    <strong> Objective </strong><br>
    <%= @goal.objective %>
  <% end %>
  <br>
</div>

<div class="box3">
  <% if !@goal.tasks.empty? %>
    <h2>Steps towards this goal</h2>
    <% if @goal.user == current_user %>
      <%= link_to "Take a Step", new_goal_task_path(@goal) %>
    <% end %>
    <ul>
      <% @goal.tasks.each do |task| %>
        <li>
          <% if task.secret %>
           <div class="private-bullet">P</div><%= link_to task.focus, task_path(task) %> | <%= format_datetime(task.created_at)%>
          <% else %>
            <%= link_to task.focus, task_path(task) %> |  <%= format_datetime(task.created_at)%>
          <% end%>
        </li>
        <% end %>
    </ul>
  <% elsif @goal.user == current_user %>
    <p>Get started towards this goal by <%= link_to "adding a task", new_goal_task_path(@goal) %>. </p>
  <% end %>
</div>

<% if @goal.completed %>
  <div class="allocation">
  <h3>study.drill.do assessment</h3>
    <table>
      <tr>
        <th>Method</th>
        <th>Ideal Time</th>
        <th>My Time</th>
        <th>Status</th>
      </tr>
      <tr>
        <td>Study</td>
        <td><%= @best_allocation[:study] %> minutes </td>
        <td><%= @my_allocation[:study] %> minutes </td>
        <td><%= @advice[0] %> </td>
      </tr>
      <tr>
        <td>Drill</td>
        <td><%= @best_allocation[:drill] %> minutes </td>
        <td><%= @my_allocation[:drill] %> minutes </td>
        <td><%= @advice[1] %></td>
      </tr>
      <tr>
        <td>Do</td>
        <td><%= @best_allocation[:do] %> minutes </td>
        <td><%= @my_allocation[:do] %> minutes </td>
        <td><%= @advice[2] %></td>
      </tr>
    </table>
  </div>

  <div class="pie_charts">
    <div id="ideal_pie"></div>
    <div id="actual_pie"></div>
  </div>

<% else %>
<div class="ongoing_container">
 <div id="ongoing_table">
  <h3>study.drill.do assessment</h3>
  <table>
    <tr>
      <th>Method</th>
      <th>Ideal Time</th>
      <th>My Time</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>Study</td>
      <td><%= @best_allocation[:study] %> minutes </td>
      <td><%= @my_allocation[:study] %> minutes </td>
      <td><%= @ontrack[0] %></td>
    </tr>
    <tr>
      <td>Drill</td>
      <td><%= @best_allocation[:drill] %> minutes </td>
      <td><%= @my_allocation[:drill] %> minutes </td>
      <td><%= @ontrack[1] %></td>
    </tr>
    <tr>
      <td>Do</td>
      <td><%= @best_allocation[:do] %> minutes </td>
      <td><%= @my_allocation[:do] %> minutes </td>
      <td><%= @ontrack[2] %></td>
    </tr>
  </table>
  </div>

  <div id="ongoing_pie"></div>
</div>
<% end %>
