<!DOCTYPE html>
<html>
<head>
  <title>study.drill.do</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true  %>
  <link rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,400italic|Lora|Neucha' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<div class="nav">
  <div class="logo">
    <a href="/">study.drill.do</a>
  </div>
  <ul>
    <li>
      <%= link_to "All Goals", goals_path, class: 'button radius' %>
    </li>
  <% if user_signed_in? %>
      <li>
      <%= link_to 'Me & My Goals', user_path(current_user), class: 'button radius' %>
      </li>
  <% end %>
    <li>
      <%= link_to 'Set a Goal', new_goal_path, class: 'button radius' %>
    </li>

    <% if user_signed_in? %>
      <li>
      <%= link_to('Sign Out', destroy_user_session_path, class: 'button radius', method: :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path, class: 'button radius') %>
      </li>
    <% end %>

    <% if user_signed_in? && current_user.admin? %>
      <li>
        <%= link_to 'Admin', admin_users_path, class: 'button radius' %>
      </li>
    <% end %>

    <li>
      <%= link_to 'About', about_index_path, class: 'button radius' %>
    </li>
  </ul>
</div>

<div class="clear-container">
  <% if !notice.nil? %><p class="alert-box radius success"><%= notice %></p><% end %>
  <% if !alert.nil? %><p class="alert-box radius warning"><%= alert %></p><% end %>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
