<!DOCTYPE html>
<html>
<head>
  <title>StuDDo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<!-- <div class="show-for-medium-down tiny-nav">

  <h1>StuDDo</h1>

    <ul class="center">
        <li>
          <%= link_to 'MyGoals', goals_path, class: 'button radius' %>
        </li>
        <li>
          <%= link_to 'Set a Goal', new_goal_path, class: 'button radius' %>
        </li>
        <li>
          <%= link_to 'Take Steps', goals_path, class: 'button radius' %>
        </li>
        <li>
          <%= link_to 'About', about_index_path, class: 'button radius' %>
        </li>
    </ul>
</div>!-->

<div class="container">
  <div class="show-for-large-up nav">

    <%= link_to "Home", root_path %>

    <% if user_signed_in? %>
      <li>
      <%= link_to 'My Profile', user_path(current_user), class: 'button radius' %>
      </li>
      <li>
      <%= link_to('Sign Out', destroy_user_session_path, class: 'button radius', :method => :delete) %>
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_user_session_path, class: 'button radius') %>
      </li>
    <% end %>


    <ul class="right">
        <li>
          <%= link_to 'MyGoals', goals_path, class: 'button radius' %>
        </li>
        <li>
          <%= link_to 'Set a Goal', new_goal_path, class: 'button radius' %>
        </li>
        <li>
          <%= link_to 'Take Steps', goals_path, class: 'button radius' %>
        </li>
        <li>
          <%= link_to 'About', about_index_path, class: 'button radius' %>
        </li>
    </ul>
  </div>
</div>

<div class="container">
  <% if !notice.nil? %><p class="alert-box radius success"><%= notice %></p><% end %>
  <% if !alert.nil? %><p class="alert-box radius warning"><%= alert %></p><% end %>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
